<div class="index-content">
  <div class="d-flex flex-column align-items-center">
    <h1 class="mb-3">類別管理</h1>
    <a href="/categories/create" class="btn btn-secondary mb-2">新增類別</a>
    <ul class="categories-list">
      {{#each categories}}
      <li class="list-item d-flex justify-content-between align-items-center">
        <span><i class="{{this.icon}} mr-4"></i>{{this.name}}</span>
        <div class="list-button col-auto">
          <a class="btn edit-button" href="/categories/{{this._id}}/edit">編輯</a>
          <!-- Button trigger modal -->
          <button type="button" class="btn delete-button" data-toggle="modal" data-target="#{{this.modalId}}">
            刪除
          </button>
        </div>
        <!--modal-->
        <div class="modal fade" id="{{this.modalId}}" tabindex="-1" role="dialog" aria-labelledby="ModalLabel"
          aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                請問真的要刪除 「 {{this.name}} 」 此項類別嗎？
              </div>
              <div class="modal-footer">
                <a type="button" class="btn modal-button cancel-button" data-dismiss="modal">取消</a>
                <form action="/categories/{{this._id}}?_method=DELETE" method="POST">
                  <button type="submit" class="btn modal-button delete-button">刪除</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </li>
      {{/each}}
    </ul>
  </div>
  <div>