<div class="index-content">
  <div class="d-flex flex-column align-items-center">
    <!-- dropdown -->
    <div class="dropdown-group">
      <button type="button" class="dropdown-toggle d-flex justify-content-between align-items-center"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <p class="dropdown-text flex-grow-1">{{currentCategory}}</p>
        <script>
          const dropdownText = document.querySelector('.dropdown-text')
          if (!dropdownText.textContent) { dropdownText.textContent = '全部' }
        </script>
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="/">全部</a>
        {{#each category}}
        <a class="dropdown-item" href="/categories/{{this.category_en}}">{{this.category}}</a>
        {{/each}}
      </div>
    </div>
    <!-- total-expense -->
    <div class="total-expense d-flex">
      <p>總金額：</p>
      <span>{{totalAmount}}</span>
    </div>
    <ul class="list-group">
      {{#each records}}
      <li class="list-group-item">
        <div class="list-box row d-flex justify-content-between align-items-center">
          <div class="list-info col-auto d-flex align-items-center flex-grow-1">
            <div class="list-icon"><i class="{{this.category}}"></i></div>
            <div class="list-text flex-grow-1 mx-2">
              <p class="item">{{this.name}}</p>
              <p class="date">{{this.date}}</p>
            </div>
            <div class="list-expense">
              {{this.amount}}
            </div>
          </div>
          <div class="list-button col-auto">
            <a class="btn edit-button" href="/record/{{this._id}}/edit">編輯</a>
            <!-- Button trigger modal -->
            <button type="button" class="btn delete-button" data-toggle="modal" data-target="#{{this.modalId}}">
              刪除
            </button>
          </div>
          <!--modal-->
          <div class="modal fade" id="{{this.modalId}}" tabindex="-1" role="dialog" aria-labelledby="ModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  請問真的要刪除 「 {{this.name}} 」 此項支出嗎？
                </div>
                <div class="modal-footer">
                  <a type="button" class="btn modal-button cancel-button" data-dismiss="modal">取消</a>
                  <form action="/record/{{this._id}}?_method=DELETE" method="POST">
                    <button type="submit" class="btn modal-button delete-button">刪除</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
      </li>
      {{/each}}
    </ul>



  </div>
</div>