<div class="index-content">
  <div class="d-flex flex-column align-items-center">
    <!-- dropdown -->
    <div class="dropdown-filter d-flex justify-content-center flex-row">
      <a class="btn btn-secondary mr-5" href="/record/create"><i class="fas fa-comment-dollar"></i>新增支出</a>
      <form action="/record/filter" method="POST">
        <select name="currentMonth" class="mx-2">
          <option value="all" {{#if (equal 'all' currentMonth)}}selected{{/if}}>全部月份</option>
          <option value="01" {{#if (equal '01' currentMonth)}}selected{{/if}}>一月</option>
          <option value="02" {{#if (equal '02' currentMonth)}}selected{{/if}}>二月</option>
          <option value="03" {{#if (equal '03' currentMonth)}}selected{{/if}}>三月</option>
          <option value="04" {{#if (equal '04' currentMonth)}}selected{{/if}}>四月</option>
          <option value="05" {{#if (equal '05' currentMonth)}}selected{{/if}}>五月</option>
          <option value="06" {{#if (equal '06' currentMonth)}}selected{{/if}}>六月</option>
          <option value="07" {{#if (equal '07' currentMonth)}}selected{{/if}}>七月</option>
          <option value="08" {{#if (equal '08' currentMonth)}}selected{{/if}}>八月</option>
          <option value="09" {{#if (equal '09' currentMonth)}}selected{{/if}}>九月</option>
          <option value="10" {{#if (equal '10' currentMonth)}}selected{{/if}}>十月</option>
          <option value="11" {{#if (equal '11' currentMonth)}}selected{{/if}}>十一月</option>
          <option value="12" {{#if (equal '12' currentMonth)}}selected{{/if}}>十二月</option>
        </select>
        <select name="currentCategory" class="mx-2">
          <option value="all" {{#if (equal 'all' currentCategory)}}selected{{/if}}>全部類別</option>
          {{#each category}}
          <option value="{{this.name}}" {{#if (equal this.name ../currentCategory)}}selected{{/if}}>
            {{this.name}}
          </option>
          {{/each}}
        </select>
        <button type="submit" class="mx-2 filter-button">篩選</button>
      </form>
    </div>
    <!-- total-expense -->
    <div class="total-expense d-flex">
      <p>總金額：</p>
      <span>{{totalAmount}}</span>
    </div>
    <ul class="list-group">
      {{#each records}}
      <li class="list-group-item">
        <div class="list-box row d-flex justify-content-between align-items-center">
          <div class="list-info col-auto d-flex align-items-center flex-grow-1">
            <div class="list-icon"><i class="{{this.category}}"></i></div>
            <div class="list-text flex-grow-1 mx-2">
              <p class="item">{{this.name}}</p>
              <p class="date">{{this.date}}</p>
            </div>
            <div class="list-expense">
              {{this.amount}}
            </div>
          </div>
          <div class="list-button col-auto">
            <a class="btn cancel-button" href="/record/{{this._id}}/detail">詳細</a>
            <a class="btn edit-button" href="/record/{{this._id}}/edit">編輯</a>
            <!-- Button trigger modal -->
            <button type="button" class="btn delete-button" data-toggle="modal" data-target="#{{this.modalId}}">
              刪除
            </button>
          </div>
          <!--modal-->
          <div class="modal fade" id="{{this.modalId}}" tabindex="-1" role="dialog" aria-labelledby="ModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body text-center">
                  請問真的要刪除 「 {{this.name}} 」 此項支出嗎？
                </div>
                <div class="modal-footer">
                  <a type="button" class="btn modal-button cancel-button" data-dismiss="modal">取消</a>
                  <form action="/record/{{this._id}}?_method=DELETE" method="POST">
                    <button type="submit" class="btn modal-button delete-button">刪除</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
      </li>
      {{/each}}
    </ul>



  </div>
</div>